body {
    margin: 0;
    padding: 0;
}

.ui-main {
  color: white;
  position: absolute;
}

.hide {
  visibility: : hidden !important;
}

.MainMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MainMenuBtn {
  margin-top: 100px !important;
}

.InGameMenuBtn {
  background-color: white;
  border-radius: 10px;
}

.InGameMenu {
  margin-top: 10px;
}
